<launch>

<!--param name="/robot_name" value="sim01" /-->
<param name="/robot_name" value="dia-miro37" />

<!-- NODE RATE-->
<param name = "rate" value="200" />

<!-- BALL COLOR -->

<arg name="h_limit_max" default="35" doc="The maximum allowed field value Hue" />
<arg name="h_limit_min" default="25" doc="The minimum allowed field value Hue" />

<arg name="s_limit_max" default="255" doc="The maximum allowed field value Saturation" />
<arg name="s_limit_min" default="180" doc="The minimum allowed field value Saturation" />

<arg name="v_limit_max" default="255" doc="The maximum allowed field value Value" />
<arg name="v_limit_min" default="180" doc="The minimum allowed field value Value" />
<!-- HANDLING COMMANDS -->

<!-- <node name="command_activation" pkg="command_handler" type="command_activation.py" /> -->
<node pkg="cogbiogroup9" type="command_recognition.py" name="command_recognition" output="screen">
    <param name="rosconsole" value="debug"/>
</node>

<!-- SPEECH RECOGNITION -->

<node pkg="cogbiogroup9" type="speech_to_text_node.py" name="speech_to_text_node" output="screen"/>

<!-- ACTIONS: WE NEED TO IMPLEMENT THIS --> 
<include file="launch/actions.launch" />
<!-- <include file="$(find actions)/launch/double_hough_circles.launch" />
<include file="$(find actions)/launch/double_hsv_color_filter.launch" /> -->

</launch>